.bg {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../src/Images/k.jpg");
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.family{
    font-family: 'sans-serif';
}

.nav-item a{
    color: #000;
    font-size: 20px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 0 16px;
}

.nav-item a:hover{
    color: red;
}

.col-md-4 img{
    width: 390px;
    height: 250px;
    padding: 10px;
}
ul li {
    list-style-type: none;
}

.actions a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.F img{
    width: 100%;
    height: 450px;
}

.M img{
    width: 100%;
    height: 450px;
}

.A{
    padding: 0 0 450px 0;
}
@media(max-width: 576px){
    .nav-item a{
        padding: 0 ;
    }
    .bg {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../src/Images/k.jpg");
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
    .col-md-4 img{
        width: 100%;
        /* height: 150px; */
    }
}

@media(min-width: 577px) and (max-width: 768px){
    .H h1{
        font-size: 50px;
    }
    .H p{
        font-size: 30px;
    }
    .nav-item a{
        padding: 0 ;
    }
    .bg {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../src/Images/k.jpg");
        background-size: cover;
        height: 90vh;
        width: 100%;
    }
    .col-md-4 img{
        width: 110%;
        /* height: 150px; */
    }
}
@media(min-width: 769px) and (max-width: 992px){
    .H h1{
        font-size: 50px;
    }
    .H p{
        font-size: 30px;
    }
    .nav-item a{
        padding: 0 ;
    }
    .bg {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../src/Images/k.jpg");
        background-size: cover;
        height: 90vh;
        width: 100%;
    }
    .col-md-4 img{
        width: 110%;
        /* height: 150px; */
    }
}